
.box1{width:250px;
    height:250px;
    background-color:#000000;
    cursor:pointer;
    }

#box2{width:150px;
    height:150px;
    background-color:#F42424;
    cursor:pointer;
    position:relative;
    display:none;
    }
